{% extends 'base.html' %}

{% block content %}
    <h1>Zmień Hasło</h1>
    <form method="post" action="{{ url_for('change_password') }}">
        {{ form.hidden_tag() }}
        <label for="current_password">Aktualne hasło:</label>
        {{ form.current_password(class="form-control") }}
        {% if form.current_password.errors %}
            <p class="error-message">{{ form.current_password.errors[0] }}</p>
        {% endif %}
        <br>
        <label for="new_password">Nowe hasło:</label>
        {{ form.new_password(class="form-control") }}
        {% if form.new_password.errors %}
            <p class="error-message">{{ form.new_password.errors[0] }}</p>
        {% endif %}
        <br>
        <label for="confirm_password">Potwierdź nowe hasło:</label>
        {{ form.confirm_password(class="form-control") }}
        {% if form.confirm_password.errors %}
            <p class="error-message">{{ form.confirm_password.errors[0] }}</p>
        {% endif %}
        <br>
        <button class="button" type="submit">Zmień hasło</button>
    </form>
    <br />
    <a href="{{ url_for('home') }}" class="button">Wróć do strony głównej</a>
{% endblock %}
