{% extends 'base.html' %}

{% block header %}Zaloguj się na stronę banku{% endblock %}

{% block content %}
    <h2>Wprowadź te znaki swojego hasła: 1, 3, 4, 6, 8, 9</h2>
    <form class="form" method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <label for="password"><strong>Hasło:</strong></label>
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <p class="error-message">{{ form.password.errors[0] }}</p>
        {% endif %}
        <br>
        {{ form.submit(class="button") }}
    </form>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
{% endblock %}
