{% extends 'base.html' %}

{% block content %}
    <h1>Twoja lista przelewów</h1>
    <h2>Przelewy wysłane:</h2>
    <ul>
        {% for transaction in out_trans %}
        <li>Kwota przelewu: {{ transaction.amount }} PLN</li>
        <li>Tytuł przelewu: {{ transaction.title }}</li>
        <li>Konto odbiorcy: {{ transaction.recipient_account_number }}</li>
        <br />
        {% endfor %}
    </ul>

    <h2>Przelewy odebrane:</h2>
    <ul>
        {% for transaction in in_trans %}
        <li>Kwota przelewu: {{ transaction.amount }} PLN</li>
        <li>Tytuł przelewu: {{ transaction.title }}</li>
        <li>Konto nadawcy: {{ transaction.sender_account_number }}</li>
        <br />
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}" class="button">Wróć do strony głównej</a>
{% endblock %}